.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
}
.heading{
    font-size: xx-large;
    margin: 15px;
}
#map {
    height: 400px;
    width: 70%;
    border: 1px solid red;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.foot{
    display: relative;
    justify-content: space-evenly;
    align-items: center;
}
.howTo{
    span{
        text-align: center;
    }
    text-align: left;
}
@media screen and (max-width:700px){
    .head{
        background-color: aqua;
    }
}